{% extends "layout.html" %}

{% block title %}
Chai aur Tweet
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Welcome to Django Project</h1>
    
    <div class="text-center my-3">
        <a class="btn btn-primary mb-4" href="{% url 'tweet_create' %}">Create a Tweet</a>
    </div>

    <div class="row">
        {% for tweet in tweets %}
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                {% if tweet.photo %}
                    <img src="{{ tweet.photo.url }}" class="card-img-top" alt="Tweet Image">
                {% else %}
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="Default Image">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ tweet.user.username }}</h5>
                    <p class="card-text">{{ tweet.text }}</p>
                    {% comment %} {% if tweet.user == user %}
                    <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
                    {% endif %} {% endcomment %}

                    {% if tweet.user == request.user %}
    <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
{% endif %}

                    
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center">No tweets available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
